appdirs==1.4.3
certifi==2017.1.23
chardet==2.3.0
colorama==0.3.7
defer==1.0.4
Django==1.10.6
django-geojson==2.10.0
django-leaflet==0.21.0
django-location-field==2.0.2
extras==1.0.0
fixtures==3.0.0
html5lib==0.999999999
linecache2==1.0.0
mox3==0.21.0
olefile==0.44
packaging==16.8
pbr==2.0.0
Pillow==4.0.0
ply==3.10
psutil==5.2.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyparsing==2.2.0
pysqlite==2.8.3
python-mimeparse==1.6.0
pyxdg==0.25
requests==2.13.0
six==1.10.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.20
webencodings==0.5
