  
<link rel="stylesheet" href="style2.css">
<div id="pagewrap">

	<header>
		<h1>Manager Analytics</h1>
	</header>
		
	<section id="content">
		<h2>Today's Total</h2>
		<p><b>Profit</b></p>
<p><b>Customers</b></p>
<p><b>Average Stay Time</b></p>
<p><b>Daily Percent Change</b></p>
	</section>
	
	<section id="middle">
		<p>Parking Lot Price/Hr : </p>
    <p>New Price/Hr: <input type="number"  name="newPrice" min="0" max="50" value="$"> <input type="submit"></p>
    <input style="margin:20px 20px 0px 50px;"type="button" value="Change Spot Status" onclick="msg()">
    <input style="margin:20px 20px 0px 50px;"type="button" value="Customer History" onclick="msg()">
  </section>

	<aside id="sidebar">
		<h2>Calender</h2>
	</aside>
	
	<footer>
		<h4>Parking Lot Analytics</h4>
		<!--<p>Believe in yourself</p>-->
	</footer>

</div>
