{% extends 'parking/base.html' %}
{% block title %}{{ parkingLot }}{% endblock %}
{% block parkingLots_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'parking:detail' parkingLot.id %}">
                        <img src="{% static 'parking/images/index_image.png' %}" class="img-responsive"> 
                    </a>
                    <h1>{{ parkingLot.id }} <small>{{ parkingLot.address }}</small></h1>
                    <h2>{{ parkingLot.max_levels }}</h2>
                    <h2>{{ parkingLot.max_spots }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'parking:detail' parkingLot.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'parking:add_spot' parkingLot.id %}">Add New Spot</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Spots</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Parking Lot Level</th>
                            <th>Spot Number</th>
                            <th>Sensor ID</th>
                            <th>Spot Occupied?</th> 
                            <th>Spot Disabled?</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for spot in parkingLot.spot_set.all %}
                            <tr>
                                <td>{{ spot.level }}</td>
                                <td>{{ spot.spot_number }}</td>
                                <td>{{ spot.sensor_id }}</td>
                                <td>{{ spot.is_occupied}}</td>
                                <td>{{ spot.is_disabled}}</td>
                                <td>
                                    <form action="{% url 'parking:disable_spot' parkingLot.id spot.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ spot.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Disable
                                        </button>
                                    </form>
                                </td>
                                                             
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
