{% extends 'parking/base.html' %}
{% block title %}{{ Detail }}{% endblock %}
{% block parkingLots_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'parking:detail' parkingLot.id %}">
                        <img src="{% static 'parking/images/index_image.png' %}" class="img-responsive">
                    </a>
                    <h4 class="give_space"><strong>Management Username:</strong> {{parkingLot.user}}</h4>
                    <h4 class="give_space"><strong>Parking Lot Number:</strong> {{ parkingLot.id }}</h4>
                    <h4 class="give_space"><strong>Parking Lot Address:</strong> </h4>
                    <h4 class="give_space">{{ parkingLot.address }}</h4>
                    <h4 class="give_space"><strong>Number of Levels:</strong> {{ parkingLot.max_levels }}</h4>
                    <h4 class="give_space"><strong>Number of Spots:</strong> {{ parkingLot.max_spots }}</h4>                    
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                
                <li role="presentation" class="active"><a href="{% url 'parking:add_spot' parkingLot.id %}">Add New Spot</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Spots</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th style="text-align: center">Parking Lot Level</th>
                            <th style="text-align: center">Spot Number</th>
                            <th style="text-align: center">Sensor ID</th>
                            <th style="text-align: center">Spot Occupied?</th> 
                            <th style="text-align: center">Spot Disabled?</th>
                            <th style="text-align: center">Disable Spot</th>
                            <th style="text-align: center">Enable Spot</th>
                            <th style="text-align: center">Delete Spot</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for spot in parkingLot.spot_set.all %}
                            <tr>
                                <td class="center_spot" style="text-align: center">{{ spot.level }}</td>
                                <td class="center_spot" style="text-align: center">{{ spot.spot_number }}</td>
                                <td class="center_spot" style="text-align: center">{{ spot.sensor_id }}</td>
                                <td class="center_spot" style="text-align: center">{{ spot.is_occupied}}</td>
                                <td class="center_spot" style="text-align: center">{{ spot.is_disabled}}</td>
                                <td class="center_spot" style="text-align: center">
                                    <form action="{% url 'parking:disable_spot' parkingLot.id spot.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="spot_id" value="{{ spot.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Disable
                                        </button>
                                    </form>
                                </td>
                                <td class="center_spot" style="text-align: center">
                                    <form action="{% url 'parking:enable_spot' parkingLot.id spot.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="spot_id" value="{{ spot.id }}" />
                                        <button type="submit" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-ok"></span>&nbsp; Enable
                                        </button>
                                    </form>
                                </td>
                                <td class="center_spot" style="text-align: center">
                                    <form action="{% url 'parking:delete_spot' parkingLot.id spot.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="spot_id" value="{{ spot.id }}" />
                                        <button type="submit" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-trash"></span>&nbsp; 
                                        </button>
                                    </form>
                                </td>
                                                             
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
