{% extends 'parking/base.html' %}
{% block title %}Exit Session{% endblock %}
{% block parkingLots_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'parking:system' parkingLot.id %}">Go Back</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Exit: Input Car License Plate</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="hidden" name="parkingLot" value="{{ parkingLot }}">
                        {% include 'parking/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
