 {% load static %}
 

  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            function call_counter(url, pk) {
                window.open(url);
                $.get('YOUR_VIEW_HERE/'+pk+'/', function (data) {
                    alert("counter updated!");
                });
            }
        </script>
<link rel="stylesheet" type="text/css" href="{% static 'manager/style2.css' %}" />
<head>
<div id="pagewrap">

	<header>
		<h1>Manager Analytics</h1>
	</header>
		
	<section id="content">
		<h2>Today's Total</h2>
		<p><b>Profit</b></p>
<p><b>Customers</b></p>
<p><b>Average Stay Time</b></p>
<p><b>Daily Percent Change</b></p>
	</section>
	
	<section id="middle">
		<p>Parking Lot Price/Hr : </p>
    <p>New Price/Hr: <input type="number"  name="newPrice" min="0" max="50" value="$"> <input type="submit"></p>
    <input style="margin:20px 20px 0px 50px;"type="button" value="Change Spot Status" onclick="msg()">
   <!--<input style="margin:20px 20px 0px 50px;" type="button" value="Customer History" onclick="msg()">-->

<button onclick="call_counter('http://127.0.0.1:8000/manager/history', 12345);"> 
					 Customer History
        </button>
  </section>

	<aside id="sidebar">
		<h2>Calender</h2>
	</aside>
	


	<footer>
		<h4>Parking Lot Analytics</h4>
		
	</footer>

</div>
<html>
