{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'manager/style3.css' %}"/> 
<div id="pagewrap">

	<header>
		<h1>Customer History</h1>
	</header>
		
	<section id="content">
		<p><b>Search by license plate</b></p>
    <input type="search" name="plate"><br>
    <input type="submit" value="Search"><br>
<p style="padding-top: 40px"><b>Search by date</b></p>
    <input type="date" name="plate"><br>
    <input type="submit" value="Search"><br>
    <input style="padding" type ="button" value ="download">
	</section>
	
	<section id="middle">
		

  </section>

	<aside id="sidebar">
		<!--<h2>Live Stream of Customers</h2>-->
	</aside>
	
	<footer>
		<h4>Parking Lot Analytics</h4>
		<!--<p>Believe in yourself</p>-->
	</footer>

</div>
<html>